#articleImg {
  width: calc(100% - 4rem);
  margin: 2rem;
  position: relative;
  margin-bottom: 0;
}

#titleWrapper {
  margin: 3vh;
  position: absolute;
  bottom: 2rem;
  z-index: 1;
  right: 5em;
  color: #232122;
}

.title {
  text-align: right;
  margin: 0;
}

#publishedDate {
  color: #f06724;
}

#articleContent {
  margin: 3vh;
  color: #232122;
}

#articleContent h2 {
  color: #f06824;
}

/*#currentConclusion {
  color: white;
  background-color: #232122;
  padding: 3vh;
  font-size: 12px;
}*/

#articleContent,
#articleContent * {
  font-family: sans-serif;
}
#articleContent h2,
#articleContent h3 {
  font-family: JandaSafeandSound;
}
