body,
html {
  font-family: JandaSafeandSound;
  margin: 0;
  padding: 0;
}

#navBar {
  height: 5.5vh;
  width: 100vw;
  font-size: 14px;
  background-color: #232122;
  position: relative;
}
#backButton {
  position: absolute;
  /* top: 1vh; */
  /* left: 1vh; */
  /* height: 2vh; */
  /* width: 2vw; */
  width: 1.5rem;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

#logo {
  display: block;
  padding-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  height: 4vh;
  width: 4.4vh;
}

#editButton {
  position: absolute;
  width: 1.5rem;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}

.topwrapper {
  position: relative;
}
