
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232122;
    color: #ccc;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#diva, #divb, #divc {
    border-radius: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

.rotranselement {
    transform-origin: center top;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    margin:0;
}



.sun {
    border-radius: 50%;
    background-color: #F3AE25;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.circles {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ccc
}


.universe, .planet, .article {
    position: absolute;
    text-align: center;
    /*border: 1px solid green;*/
}
.universe {
    width: 100vw;
    transform-origin: center top;
    left: 50%;
    transform: translateX(-50%);
    font-family: JandaSafeandSound;
}

.planet {
    position: absolute;
    width: 100vw;
    pointer-events: none;
}

img {
    position: relative;
    z-index: 1;
    pointer-events: all;
}

.planet span {        
    position: absolute;
    max-width: 7em;
    padding-left: 0.3em;
    line-height: 1.1;
    text-transform: uppercase;
    transform: translate(-2em, -0.5em);
    text-align: left;
    color: #d8d0c0;
    bottom: 0;
    /*z-index: 1;*/
}

.children {
    position: absolute;
    width: 100vw;
    will-change: opacity;
}

.article {
    width: 100vw;
    position: absolute;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    transform: translateZ(0)  scale(10);
    transform-origin: 50% 50%;
    width: 100vw;
    height: 0px;
}

svg {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}


.imgzoom {
    transform: scale(20);
    -webkit-transition: transform 1s; /* Safari */
    transition: transform 1s;
    transition-timing-function: ease-in;
}

.articlediv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y:scroll;
    background-color: white;
    z-index: 10;
    opacity: 0.001;
}

.articledivIN {
    opacity: 1.0;
    transition: opacity 0.5s;
    transition-timing-function: ease-in;
}

.articledivOUT {
    opacity: 0.001;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

.tit1 {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}
.tit2 {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    text-align: center;
    color: white;
}


.tit1 img, .tit2 img {
    width: 100px;
}

span.name::before {
    content: "PLANET";
    display: block;
    font-size: 80%;
    color: rgb(70,70,70);
    margin-bottom: 0.25em;
}