
body, html {
    font-family: "Sans Serif";
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#diva, #divb, #divc {
    border-radius: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

.rotranselement {
    transform-origin: center top;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    margin:0;
}



.sun {
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.universe, .planet, .article {
    position: absolute;
    text-align: center;
    /*border: 1px solid green;*/
}
.universe {
    width: 100vw;
    transform-origin: center top;
    left: 50%;
    transform: translateX(-50%);
}

.planet {
    position: relative;
}

.article {
    position: relative;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    transform: translateZ(0)  scale(10);
    transform-origin: 50% 50%;
    width: 100vw;
    height: 0px;
}

svg {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}